/* 消除所有演示表自适应margin,padding值，包括对body的设置； */
* {
  margin: 0;
  padding: 0;
}
/* 滚动条伪类设置 */
/* 设置滚动条宽度 */
::-webkit-scrollbar {
  /* display:none; */
  width: 9px;
  height: 6px;
  /* -webkit-appearance: none; */
}
/* handle样式 */
::-webkit-scrollbar-thumb {
  height: 6px;
  border-radius: 6px;
  background-color:#bac1c6;
}
::-webkit-scrollbar-track {
  border-radius:0px;
}
/*当前窗口未激活的情况下*/  
/* ::-webkit-scrollbar-thumb:window-inactive {  
  background: transparent; 
} */
/*hover到滚动条上*/  
/* ::-webkit-scrollbar-thumb:vertical:hover{  
  background-color: rgba(0,0,0,0.3);  
} */
/* ::-webkit-scrollbar-thumb:vertical:not(:hover){  
  background-color: transparent;  
}   */
.root {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  display:flex;
  font-family:Arial, Helvetica, sans-serif;
}
.nav-box {
  position:fixed;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  display:flex;
  height:50px;
  line-height:46px;
  background-color:#353a47;
  border-bottom:1px solid #353a47;
  justify-content: center;
  /* align-items: center; */
  color:#fff;
  z-index:999;
  top:0;
}
.nav-box-items {
  display:flex;
  flex-direction:row;
  /* padding-left:15px; */
  font-size:14px;
  /* flex-direction:row; */
  align-items:center;
  flex-wrap:nowrap;
  justify-content:center;
}
.nav-box-items li {
  top:1px;
  /* margin-top:-1px; */
  font-weight:bold;
  line-height:43px;
  padding:0 24px;
  /* font-size:12px; */
  border-bottom:2px solid transparent;
  margin:0px;
  color:#a8b0bc;
  cursor:pointer;
}
.nav-box-items li:hover {
  border-bottom:3px solid #1890ff;
  color:#fff !important;
}

.data-list-box {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  flex-wrap: wrap;
  position: relative;
  /* width:1400px; */
  width: 1216x;
  background-color:white;
  box-sizing: border-box;
  /* margin:10px 40px 0 40px; */
  /* overflow:auto; */
  /* padding-bottom:50px; */
  /* padding-top:50px; */
  /* overflow:hidden; */
  /* overflow-x:hidden;
  overflow-y:scroll; */
  /* word-wrap:break-word; */

}
.data-list-box::after {
  clear:both;
}
.data-list-item {
  float:left;
  box-sizing:border-box;
  /* border-bottom:1px solid grey;
  border-top:1px solid grey;
  margin-top:10px; */
  width:440px;
  height:420px;
  margin-left:100px;
  justify-content: center;
  align-content: center;
  /* box-shadow: 0 10px 10px grey; */
  border:0.5px solid grey;
  margin:10px 10px 10px 10px;
}
.data-list-item:hover {
  box-shadow: 0 10px 10px grey;
}
.nav-items {
  /* float:left; */
  /* position:fixed;
  display:block;
  float:left; */
  /* justify-content: center; */
  /* align-items:left; */
  width:60px;
  height:20px;
}
.chart-head-ass {
  padding-left:15px;
  margin-left:0px;
  text-overflow:ellipsis;
  list-style:none;
  text-align:left;
  font-size:12px;
  color:grey;
}
#chartHead {
  cursor:pointer;
  font-weight:bold;
  color:#333333;
  font-size:15px;
  line-height:1.5em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  padding:15px;
  padding-top:0;
  padding-bottom:0px;
  padding-left:0px;
}
#chartDate {
  cursor: text;
  padding-left:15px;
  margin-left:0px;
  /* text-overflow:ellipsis; */
  list-style:none;
  text-align:left;
  font-size:12px;
  color:grey;
  line-height:17px;
  padding:15px;
  padding-top:0;
  padding-bottom:0;
  padding-left:0px;
}
/* 底部加载更多样式 */
#loadMore {
  display:none;
  z-index:99;
  position:fixed;
  background: transparent url(../img/loading.gif) no-repeat center center /20px 20px;
  /* background-size:20px 20px; */
  align-items: center;
  width:inherit;
  /* width:50px; */
  /* margin-top:10px; */
  margin:0px;
  padding:0px;
  height:55px;
  /* line-height:50px; */
  bottom:0;
  padding-bottom:15px;
  font-size:12px;
  color:#9a9fa5;
}
#loadMore::after {
  content:'正在加载...';
  display:block;
  font-size:12px;
  padding-top:45px;
  padding-left:669px;
  /* padding:0 auto; */
  color:#9a9fa5;
  /* width:50%;
  height:50%; */
  position:fixed;
  align-items:center;
}
#chartEnd {
  padding-left:15px;
  margin-left:0px;
  text-overflow:ellipsis;
  list-style:none;
  text-align:left;
  font-size:12px;
  color:#9a9fa5;
  white-space:nowrap;
  line-height:1.5em;
  cursor:text;    
}


/* 数据表样式 */
.data-form-table {
  margin-top:20px;
  display: flex; 
  /* flex-direction: row;*/
  justify-content: space-between;
  flex-wrap: wrap;
  font-family:arial;
  line-height:20px;
  text-align:left;
  cursor:pointer;
  position:relative;
  width:1195px;
  background-color:white;
  box-sizing: border-box;
  /* margin:50px 40px 0 40px; */
  /* margin-left:40px; */
  /* padding-top:50px; */
  padding-bottom:50px;
  overflow:auto;
  /* margin-left: -40px; */
}
.data-table-item {
  float:left;
  width:440px;
  overflow:hidden;
  padding-left:50px;

}
table {
  /* margin:16px; */
  cursor:pointer;
  table-layout: fixed;
  font-size:12px;
  white-space:nowrap;
  overflow:hidden;
  border:1px solid #eee;
  overflow-y:auto;
  border-collapse:collapse;
  margin-right:35px;
  background-color:white;

}
table th td {
  text-align:left;
  background-color:#fff;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
table th{
  background-color:#949cb3 !important;
  font-weight:bold;
  color:#fff;
  /* min-width:160px; */
  height:30px;
  padding:5px 15px;
  border: 1px solid rgba(212, 212, 212, 0.25);
  line-height:150%;

}
table td{
  color:grey;
  line-height:140%;
  padding:5px 15px;
  width:160px;
  height:30px;
  border:none;
  /* white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis; */

}
/* .first-line {
  background-color: #949cb3;
  color:white;
  font-weight:bold;

} */
table tr:nth-child(odd) {
  background-color:#e8e8e8;
}
table tr:nth-child(even) {
  background-color:#fff;
}
#tableRightId {
  cursor:pointer;
  color:#757575;
  font-weight:bold;
  font-size:15px;
  width:20px;
  border:1px solid #eee;
  height:242px;
  position:absolute;
  top:16px;
  right:16px;
  /* margin-left:5px; */
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:white;
}

input[type=search] {
  /* background: url(../img/MAGN.png) no-repeat 9px center; */
  float:left;
  background:url(../img/MAG1.png) no-repeat 10px center;
  background-color:white;
  padding:0 0 0 40px;
  cursor:text;
  border:0;
  border-radius: 5px 0 0 5px;
  /* font:400 13.3333px Arial; */
}
input::-webkit-calendar-picker-indicator {
  display:none;
  /* -webkit-appearance:none; */
}
input::webkit-input-placeholder {
  color:white;
  font-size:14px;
  text-align:left;
}